*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 50%;
}
@media only screen and (min-width: 37.5em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 56.25em) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #a3a5ae;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 1rem;
}

header {
  text-align: center;
  margin-bottom: 7rem;
  max-width: 36rem;
  -webkit-animation: fadeInUp 1s ease 0s normal forwards 1;
          animation: fadeInUp 1s ease 0s normal forwards 1;
}
@media only screen and (min-width: 37.5em) {
  header {
    margin-bottom: 6rem;
    max-width: 50rem;
  }
}
@media only screen and (min-width: 56.25em) {
  header {
    margin-bottom: 5rem;
  }
}

h1,
h2 {
  font-size: 2.8rem;
}

h1 {
  font-weight: 200;
}

h2,
h3 {
  font-weight: 400;
  color: #4c4e61;
}

h2 {
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.attribution {
  text-align: center;
  font-size: 1.4rem;
  margin: 5rem 0;
  -webkit-animation: fadeInUp 3.5s ease 0s normal forwards 1;
          animation: fadeInUp 3.5s ease 0s normal forwards 1;
}
.attribution__link {
  color: #4c4e61;
}
.attribution__link:hover {
  text-decoration: none;
}
@media only screen and (min-width: 37.5em) {
  .attribution {
    -webkit-animation: fadeInUp 2.5s ease 0s normal forwards 1;
            animation: fadeInUp 2.5s ease 0s normal forwards 1;
  }
}
@media only screen and (min-width: 68.75em) {
  .attribution {
    -webkit-animation: fadeInUp 3s ease 0s normal forwards 1;
            animation: fadeInUp 3s ease 0s normal forwards 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  66% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  66% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}
@media only screen and (min-width: 37.5em) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 68.75em) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "columnOne columnTwo columnFour" "columnOne columnThree columnFour";
    grid-gap: 4rem;
  }
}

.card {
  max-width: 32rem;
  height: 22rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  -webkit-box-shadow: 0 21px 24px -17px rgba(76, 78, 97, 0.15);
          box-shadow: 0 21px 24px -17px rgba(76, 78, 97, 0.15);
  position: relative;
}
@media only screen and (min-width: 56.25em) {
  .card {
    max-width: 34rem;
    height: 23rem;
    padding: 3rem;
  }
}
@media only screen and (min-width: 68.75em) {
  .card {
    max-width: 35rem;
    height: 25rem;
    padding: 3rem 4rem;
  }
}
.card--supervisor {
  border-top: 3px solid #45d3d3;
  -webkit-animation: fadeInUp 1.5s ease 0s normal forwards 1;
          animation: fadeInUp 1.5s ease 0s normal forwards 1;
}
@media only screen and (min-width: 68.75em) {
  .card--supervisor {
    grid-area: columnOne;
    align-self: center;
  }
}
@media only screen and (min-width: 68.75em) {
  .card--supervisor {
    -webkit-animation: fadeInUp 2s ease 0s normal forwards 1;
            animation: fadeInUp 2s ease 0s normal forwards 1;
  }
}
.card--team {
  border-top: 3px solid #ea5353;
  -webkit-animation: fadeInUp 2s ease 0s normal forwards 1;
          animation: fadeInUp 2s ease 0s normal forwards 1;
}
@media only screen and (min-width: 68.75em) {
  .card--team {
    grid-area: columnTwo;
  }
}
@media only screen and (min-width: 37.5em) {
  .card--team {
    -webkit-animation: fadeInUp 1.5s ease 0s normal forwards 1;
            animation: fadeInUp 1.5s ease 0s normal forwards 1;
  }
}
.card--karma {
  border-top: 3px solid #fcaf4a;
  -webkit-animation: fadeInUp 2.5s ease 0s normal forwards 1;
          animation: fadeInUp 2.5s ease 0s normal forwards 1;
}
@media only screen and (min-width: 68.75em) {
  .card--karma {
    grid-area: columnThree;
  }
}
@media only screen and (min-width: 37.5em) {
  .card--karma {
    -webkit-animation: fadeInUp 2s ease 0s normal forwards 1;
            animation: fadeInUp 2s ease 0s normal forwards 1;
  }
}
@media only screen and (min-width: 68.75em) {
  .card--karma {
    -webkit-animation: fadeInUp 2.5s ease 0s normal forwards 1;
            animation: fadeInUp 2.5s ease 0s normal forwards 1;
  }
}
.card--calculator {
  border-top: 3px solid #549ef2;
  -webkit-animation: fadeInUp 3s ease 0s normal forwards 1;
          animation: fadeInUp 3s ease 0s normal forwards 1;
}
@media only screen and (min-width: 68.75em) {
  .card--calculator {
    grid-area: columnFour;
    align-self: center;
  }
}
@media only screen and (min-width: 37.5em) {
  .card--calculator {
    -webkit-animation: fadeInUp 2s ease 0s normal forwards 1;
            animation: fadeInUp 2s ease 0s normal forwards 1;
  }
}
@media only screen and (min-width: 68.75em) {
  .card--calculator {
    -webkit-animation: fadeInUp 2s ease 0s normal forwards 1;
            animation: fadeInUp 2s ease 0s normal forwards 1;
  }
}
.card__icon {
  width: 8rem;
  height: 8rem;
  position: absolute;
  right: 0;
  bottom: 0;
}