@use '../base/base' as *;

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;

    @media only screen and (min-width: $bp-tablet) {
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (min-width: $bp-large-desktop) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "columnOne columnTwo columnFour"
            "columnOne columnThree columnFour";
        grid-gap: 4rem;
    }
}

.card {
    max-width: 32rem;
    height: 22rem;
    background-color: $white;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 21px 24px -17px hsla(234, 12%, 34%, 0.15);

    position: relative;

    @media only screen and (min-width: $bp-desktop) {
        max-width: 34rem;
        height: 23rem;
        padding: 3rem;
    }
    @media only screen and (min-width: $bp-large-desktop) {
        max-width: 35rem;
        height: 25rem;
        padding: 3rem 4rem;
    }

    &--supervisor {
        border-top: 3px solid $cyan;

        @media only screen and (min-width: $bp-large-desktop) {
            grid-area: columnOne;
            align-self: center;
        }

        animation: fadeInUp 1.5s ease 0s normal forwards 1;

        @media only screen and (min-width: $bp-large-desktop) {
            animation: fadeInUp 2s ease 0s normal forwards 1;
        }
    }
    &--team {
        border-top: 3px solid $red;

        @media only screen and (min-width: $bp-large-desktop) {
            grid-area: columnTwo;
        }

        animation: fadeInUp 2s ease 0s normal forwards 1;

        @media only screen and (min-width: $bp-tablet) {
            animation: fadeInUp 1.5s ease 0s normal forwards 1;
        }
    }
    &--karma {
        border-top: 3px solid $orange;

        @media only screen and (min-width: $bp-large-desktop) {
            grid-area: columnThree;
        }

        animation: fadeInUp 2.5s ease 0s normal forwards 1;

        @media only screen and (min-width: $bp-tablet) {
            animation: fadeInUp 2s ease 0s normal forwards 1;
        }

        @media only screen and (min-width: $bp-large-desktop) {
            animation: fadeInUp 2.5s ease 0s normal forwards 1;
        }
    }
    &--calculator {
        border-top: 3px solid $blue;

        @media only screen and (min-width: $bp-large-desktop) {
            grid-area: columnFour;
            align-self: center;
        }

        animation: fadeInUp 3s ease 0s normal forwards 1;

        @media only screen and (min-width: $bp-tablet) {
            animation: fadeInUp 2s ease 0s normal forwards 1;
        }

        @media only screen and (min-width: $bp-large-desktop) {
            animation: fadeInUp 2s ease 0s normal forwards 1;
        }
    }

    &__icon {
        width: 8rem;
        height: 8rem;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
